.menu {
  border: 1px solid black;
  vertical-align: middle;
  padding: 0.5em;
  height: 4.3em;
}
.menu ul {
  position: relative;
  top: -1.3em;
  display: inline-block;
  padding: 0;
  margin: 0;
  padding-left: 1em;
}
.menu ul li {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  padding: 1em;
  background-color: lightgray;
  display: inline-block;
}
.menu ul li a {
  text-decoration: none;
  color: black;
}
.menu ul li.selected {
  background-color: black;
}
.menu ul li.selected a {
  color: white;
}
table {
  border: 1px solid black;
  margin-top: 1em;
}
table th {
  background-color: lightgray;
  color: black;
}
