<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>Dockerado</display-name>

    <servlet>
        <servlet-name>images</servlet-name>
        <servlet-class>de.mirkosertic.dockerado.ImageListServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>container</servlet-name>
        <servlet-class>de.mirkosertic.dockerado.ContainerListServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>startContainer</servlet-name>
        <servlet-class>de.mirkosertic.dockerado.StartContainerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteContainer</servlet-name>
        <servlet-class>de.mirkosertic.dockerado.DeleteContainerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>deleteImage</servlet-name>
        <servlet-class>de.mirkosertic.dockerado.DeleteImageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>images</servlet-name>
        <url-pattern>/imagelist/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>container</servlet-name>
        <url-pattern>/containerlist/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>startContainer</servlet-name>
        <url-pattern>/startcontainer/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>deleteContainer</servlet-name>
        <url-pattern>/deletecontainer/*</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>/containerlist/</welcome-file>
    </welcome-file-list>

    <servlet-mapping>
        <servlet-name>deleteImage</servlet-name>
        <url-pattern>/deleteimage/*</url-pattern>
    </servlet-mapping>

</web-app>